

body {
    margin: auto;
	height: auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
	color: #ffaaaa;
}

p {
	font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
	text-align:justify;
	letter-spacing:0.5px;
}

p.services {
	font-size:12px;
	letter-spacing:1px;
	border-left: 2px solid #832430;
	padding-left:20px;
	margin-top:10px;

}
h1 {
	font-weight:200;
	font-size:20px;
	letter-spacing:1.5px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-weight:400;
}

#header {
    position: relative;
    z-index: 2;
    margin: 0 0 -6px;
    padding: 0 0 6px;
	background: #832430;
}

.wrap {
    overflow: hidden;
    padding: 130px 0 0px;
    background: #d2f6f5;
    z-index: 2;
    width: 960px;
	height: 96px;
	position: relative;
	left: 30%;
	top: 50%;
	margin-top: -130px;
	margin-left: -100px;
	background: #832430;
}
}

.logo {
    position: relative;
    left: auto;
    margin: 0 auto 0px;
    width: 240px;
    height: 190px;
	left: 50%;
	top: 0%;
	margin-top: -100px;
	margin-left: -100px;
	color: black;
	}

.nav {
    padding: 0 0 29px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 0 29px 0px;
	display: block;
	left: 30%;
	top: 0%;
	margin-top: 0px;
	margin-left: 0px;
	position: relative;
}

header, footer, section{
    display: block;
}

ul {
	margin: 20;
}

li:first-child {
    margin: 0;
}

li {
    margin: 0 0 0 38px;
    list-style-position: outside;
    list-style: none;
    float: left;
    text-align: center;
}
ul li {
    list-style-type: none;
}
ul li, ol li {
    list-style-position: inside;
}


.nav a:link {
    text-decoration: none;
	color: #ffaaaa;
}

.nav a:visited {
    text-decoration: none;
	color: #ffaaaa;

}

.nav a:hover {
    text-decoration: none;
	color: #390e0e;
}

.nav a:active {
    text-decoration: none;
	color: #390e0e;
}

#main {
    overflow: hidden;
	position: relative;
    z-index: 2;
    margin: 0 0 -6px;
    padding: 0 0 6px;
	background: #f5bfbe;
	height:400px;
	color: #832430;
}

.container {
    margin: auto;
	left: 35%;
	top: 50%;
	margin-top: -190px;
	margin-left: 0px;
	overflow: hidden;
	position:relative;
    padding: 0px 0 0px;
    background: #f5bfbe;
    z-index: 2;
    width: 380px;
	height: 400px;
}


.pic {
    position: relative;
    left: auto;
    margin: 0 auto 0px;
    width: 240px;
    height: 200px;
	left: 0%;
	top: 0%;
	margin-top: 0px;
	margin-left: 0px;
	color: #f5bfbe;
}

.button {
    letter-spacing: 1px;
    text-transform: uppercase;
	display: inline-block;
	padding: 0 0 0px 51px;
	margin-left:-100px;
	margin-top:120px;
	position:relative;
}
	
.button a {
    background-color: #f5bfbe;
    color: #832430;
	border: 1px solid #832430;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: -3px;
}

.button a:hover{
    background-color: #832430;
    color: #ffaaaa;
    text-align: center;
    text-decoration: none;
    display: inline;
}

#links {
    overflow: hidden;
	position: relative;
    z-index: 2;
    margin: 0 0 -6px -120px;
    padding: 0 0 6px;
	background: #ffefef;
	border-top: 3px dotted #832430;
	height:280px;
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#links .content {
    width: 960px;
    margin: 0 auto;
    position: relative;
	padding-top:10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#links .columns {
    overflow: hidden;
    padding: 0px 0px 0px 32px;
}

#links .column {
    width: 236px;
    float: left;
    text-align: center;
    margin: 0 0 0 54px;
}

#links a {
	color: #832430;
}

#links p {
	font-weight: 300;
    font-size: 14px;
    line-height: 18px;
	letter-spacing:1px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #832430;
}

.column a:link {
    text-decoration: none;
	color: #832430;
	border-bottom: 1px solid #832430;
}


.column a:hover {
    text-decoration: none;
	color: #832430;
	border-bottom: 1px solid #ffefef;
}

#services {
    overflow: hidden;
	position: relative;
    z-index: 2;
    margin: 0 0 -6px;
    padding: 0 0 6px;
	background: #f5bfbe;
	height:600px;
	color: #832430;
}

.containerserv {
    margin: auto;
	left: 35%;
	top: 50%;
	margin-top: -290px;
	margin-left: -20px;
	overflow: hidden;
	position:relative;
    padding: 0px 0 0px;
    background: #f5bfbe;
    z-index: 2;
    width: 380px;
	height: 550px;
}

.buttonserv {
    letter-spacing: 1px;
    text-transform: uppercase;
	display: inline-block;
	padding: 40 0 0px 51px;
	margin-left: 20px;
	margin-top:40px;
	position:relative;
}

.buttonserv a {
    background-color: #f5bfbe;
    color: #832430;
	border: 1px solid #832430;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: -3px;
}

.buttonserv a:hover{
    background-color: #832430;
    color: #ffaaaa;
    text-align: center;
    text-decoration: none;
    display: inline;
}

.buttonloc {
    letter-spacing: 1px;
    text-transform: uppercase;
	display: inline-block;
	padding: 10px 0px 0px 10px;
	margin-top:20px;
	position:relative;
}
	
.buttonloc a {
    background-color: #f5bfbe;
    color: #832430;
	border: 1px solid #832430;
    padding: 3px 28px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: -3px;
	width:70px;
}

.buttonloc a:hover{
    background-color: #832430;
    color: #ffaaaa;
    text-align: center;
    text-decoration: none;
	padding: 3px 28px 10px 20px;
    display: inline-block;
	width:70px;
}

.pure-button {
	background:#832430;
	margin-top:20px;
}
#footer {
	background: #832430;
	overflow: hidden;
	position: relative;
    z-index: 2;
	height:30px;
}

#footer p {
	color: #ffaaaa;
	margin-top:-8px;
}